.header {
    margin-right: 24px;
    margin-left: 24px;
    height: 64px;
    border-bottom: grey 1px solid;
    color: grey;
    font-size: 25px;
}

.black {
    color: black;
    font-size: 25px;
}

.logobox {
    float: left;
}

.navList {
    list-style: none;
    display: inline-flex;
    float: right;
}

.navItem {
    margin-right: 16px;
}

.navLink {
    color: grey;
    text-decoration: none;
}